<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbl12Vmf9ETFMm_gp4lrOO_p2qGbVPw4I</string>
	<key>GCM_SENDER_ID</key>
	<string>836691343900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Aldo.Aldo</string>
	<key>PROJECT_ID</key>
	<string>aldo-230e5</string>
	<key>STORAGE_BUCKET</key>
	<string>aldo-230e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:836691343900:ios:4e1458e8bcab5c6f3f3dd9</string>
</dict>
</plist>
